<div class="container footer-container">
    <!-- <svg class="logo">
        <use href="../img/footer-images/logo.svg#icon-logo" width="58" height="51"></use>
    </svg> -->
    <ul class="footer-nav">
        <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Home</a>
        </li>
        <li class="footer-nav-item">
            <a href="" class="footer-nav-link">About</a>
        </li>
        <li class="footer-nav-item"><a href="" class="footer-nav-link">Service</a></li>
        <li class="footer-nav-item"><a href="" class="footer-nav-link">Menu</a></li>
        <li class="footer-nav-item"><a href="" class="footer-nav-link">Contacts</a></li>
    </ul>
    <div class="footer-subscribe">
        <h3 class="footer-subscribe-title">Subscribe</h3>
        <input type="email" class="footer-subscribe-input" placeholder="Enter your email" name="email">
        <button class="footer-subscribe-btn" type="submit">Subscribe</button>
        <p class="footer-subscribe-text">By subscribing you agree to with our <span class="footer-text-pp"><a href="">Privacy Policy</a></span></p>
        <a href=""></a>
    </div>
        <ul class="terms-list">
            <li class="terms-list-item">Privacy Policy<a href="" class="terms-list-link"></a></li>
            <li class="terms-list-item">Terms of Service<a href="" class="terms-list-link"></a></li>
            <li class="terms-list-item">Cookies Settings<a href="" class="terms-list-link"></a></li>
        </ul>
        <p class="footer-text">2022 FoodSta. All right reserved</p>
</div>